[submodule "leash-attachment"]
	path = leash-attachment
	url = https://github.com/makyo/leash-attachment.git
[submodule "tiny-guide"]
	path = tiny-guide
	url = https://github.com/makyo/tiny-guide.git
[submodule "prose-wc"]
	path = prose-wc
	url = https://github.com/makyo/prose-wc.git
[submodule "twinedown"]
	path = twinedown
	url = https://github.com/makyo/twinedown.git
