---
---

@import "{{ site.theme }}";

h1 small {
    margin-top: 1em;
    display: block;
}

footer {
    font-size: 10px;
}

textarea {
    font-family: monospace;
}

header a {
    color: black;

    &:active, &:visited, &:active, &:hover {
        color: black;
    }
}

pre {
    background-color: #eee !important;
}

code {
    background-color: #eee;
    padding: 2px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.panel {
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    padding: 1em;
    margin: 1em auto;
    max-width: 100%;
}
